---
layout: archive
permalink: /personal/
title: "Personal"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---


<ul>
<li>
I am on the <a href="http://www.dartmouth.edu/~fencing" style="color:navy"> club fencing </a> team at Dartmouth (DCFC). We won overall <a href="http://www.thedartmouth.com/article/2018/04/dartmouth-fencing-club" style="color:navy">
first </a> at club nationals this year in Knoxville!
</li>
<li>
I am a member of <a href="http://www.dartmouth.edu/~dfr/" style="color:navy"> Dartmouth Formula Racing </a> (DFR). I’ve worked on and driven both our electric and hybrid racecars. 
</li>
<li>
I'm affiliated with the Kappa Kappa Kappa (Tri-Kap) Fraternity at Dartmouth.
</li>
<li>
I am from Herndon, Virginia. When visiting home, I enjoy playing tennis and bridge with my childhood friends. I went to Thomas Jefferson High School for Science and Technology in Alexandria, Virginia. 
</li>
<li>
My favorite books are <i>Man's Search for Meaning</i> by Viktor Frankl, <i>The Catcher in the Rye</i> by J.D. Salinger, and <i>When Breath Becomes Air</i> by Paul Kalanithi. My favorite movies are The Imitation Game and the Fast and Furious franchise. I love the Sherlock TV Series and Grey's Anatomy.
</li>
</ul>
<img src="/images/1.png" width="22%">
<img src="/images/2.png" width="22%">
<img src="/images/3.png" width="21.8%">
<img src="/images/4.png" width="22%">
</br>
</br>
</br>


<h1> Blog Posts </h1>
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

Places I've Been:
<ul>
	<li> Australia and New Zealand (June 11-17, 2018)
		<ul>
		<li>Sydney Opera House, Mr. Wong's Restaurant, Baxter's Inn (Jun 11-12)</li>
		<li>Melbourne, Great Ocean Road, 12 Apostles (Jun 13-14)</li>
		<li>Auckland Sky Tower, Mount Victoria (Jun 15)</li>
		<li>Rotorua, Polynesian Spa, Wai-o-tapu (Jun 16-17)</li>
		</ul>
	</li>
	<li> Iceland (December 1-9, 2017)
		<ul>
		<li>Reykjavik, Blue Lagoon (Dec 2)</li>
		<li>Þingvellir National Park, Bruarfoss (Dec 3)</li>
		<li>Gullfoss, Northern Lights at Laugarvatn Fontana geothermal baths (Dec 4)</li>
		<li>Vik, Reynisfjara black sand beach (Dec 5)</li>
		<li>Jökulsárlón glacier lagoon, Stokksnes (Dec 6)</li>
		<li>Vatnajökull Ice Caves (Dec 7)</li>
		</ul>
	</li>
</ul>





